
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#numberOfObjects,#startbuttons
{
font-size: 18px;
}
canvas{
    box-shadow: 3px 10px 10px darkred;
    border-radius: 75px;
    margin-top: 35px;
}
body{
    background-size: cover;
}
button {
    background-color: blue;
    font-size: 25px;
    color: beige;
    border-radius: 75px;
}